@keyframes bounce {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-20px); 
    }
    75% {
        transform: translateY(10px); 
      }
  }
  
  .animate-bounce {
    animation: bounce 3.5s infinite; 

}
  


.bg-custom {
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/15484.jpg');
    
    background-size: cover;
    background-position: center;
  }
  